# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# SQLite database
*.sqlite3

# Virtual environment
venv/
ENV/
env/
.venv/

# Node.js dependencies
node_modules/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
